@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");

.error-wrapper {
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  /* margin: 0 auto; */
  color: black;
  /* -moz-box-align: center;
  -moz-box-pack: center; */
  align-items: center;
  display: flex;
  justify-content: center;
  width: 90%; /* Changed from fixed 650px */
  max-width: 650px; /* Maintain a maximum width */
  border-radius: 10px;
  font-family: "Rubik";
  /* margin-top: 20px; */
  z-index: 1;
  position: absolute;
  top:90px;
  left: 450px;
}
.error-box {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}
.error-box h1 {
  font-size: 150px; 
}
.error-box h3{
  font-size: 32px;
}
.error-box p {
  margin-bottom: 30px;
  font-size: 18px;
  margin-top: 8px;
}
.error-box .btn {
  text-transform: uppercase;
  background-color: orangered;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  height: 20px;
  padding: 10px;
}

@media (max-width: 768px) {
  .error-wrapper{
    top:90px;
  left: 20px;
    
  }
  .error-box h1 {
    font-size: 100px; /* Responsive font size */
  }

  .error-box h3{
    font-size: 25px;
  }
  .error-box p {
    font-size: 15px;
  }
    
}

@media (max-width: 480px) {
  .error-box h1 {
    font-size: 80px; /* Responsive font size */
  }

  .error-box h3{
    font-size: 20px;
  }
  .error-box p {
    font-size: 12px;
  }
}
